/*
body { background-color: #fff; color: #333; } 

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}
*/

p { height:25px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}
/*
a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }
*/
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
  color:white;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  margin-top:5px;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  
}

/* no register found */
.no_register {
    width:100%;
    height: 24px;    
    font-family: Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    background-color:red;
    color:white;
    opacity:0.6;
    padding:5px;
    margin-top:13px;    
}

/* Mensagem de erro superior */

.msg_error {
    width:100%;
    height: 24px;
    position:absolute;
    margin-top:-13px;
}

.msg_error h1 {
    width:300px;
    font-family: Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    background-color:red;
    color:white;
    opacity:0.4;
    padding:5px;
    margin-top:13px;
}

.msg_notice {
    width:100%;
    height: 24px;
    position:absolute;
    margin-top:-13px;
}

.msg_notice h1 {
    width:300px;
    font-family: Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    background-color:green;
    color:white;
    opacity:0.4;
    padding:5px;
    margin-top:13px;
}

.zebra {
    background-color: #F6F6F6;
}

/* tabela index */
table.linhasAlternadas {
	border-collapse: collapse; /* CSS2 */
	border: solid 0px;
        width: 100%;
        vertical-align:top;
}
table.linhasAlternadas tr:nth-child(even) /* CSS3 */ {
	background-color: #f8f5f6;
}
table.linhasAlternadas tr.even /* estilo explícito */ {
	background-color: #e5d7da;
}
table.linhasAlternadas th {
	border-bottom: 2px solid red;
	background: #e8e4e5;
        height:30px;
        text-align:left;
        padding-left:3px;
}
table.linhasAlternadas .acoes {
        width:140px;
        text-align:center;
}
table.linhasAlternadas .campo_center {
        text-align:center;
}
/* fim tabela index  */

/* botao criar */
a.linque_criar {
    font: bold 12px/24px arial, helvetica, sans-aerif;
    text-decoration: none;
    text-align:center;
    margin:0px;
    background-color: #3fbdd6;
    width:200px;
    display:inline-block;
    color:#ffffff;
}
a.linque_criar:visited {
    font: bold 12px/24px arial, helvetica, sans-aerif;
    text-decoration: none;
    text-align:center;
    color:#FFFFFF;
    background-color: #3fbdd6;
    width:200px;
    display:inline-block;
}
a.linque_criar:hover {
    background-color: #3fbdd6;
    color:#226572;
}
/* fim botao criar */

/* botao voltar */
a.linque_voltar {
    font: bold 12px/24px arial, helvetica, sans-aerif;
    text-decoration: none;
    text-align:center;
    margin:0px;
    background-color: #9ba8ac;
    width:100px;
    display:inline-block;
    color:#ffffff;
}
a.linque_voltar:visited {
    font: bold 12px/24px arial, helvetica, sans-aerif;
    text-decoration: none;
    text-align:center;
    color:#FFFFFF;
    background-color: #9ba8ac;
    width:100px;
    display:inline-block;
}
a.linque_voltar:hover {
    background-color: #9ba8ac;
    color:#226572;
}
/* fim botao criar */

/* botao editar */
a.linque_editar {
    font: bold 12px/24px arial, helvetica, sans-aerif;
    text-decoration: none;
    text-align:center;
    margin:0px;
    background-color: #3fbdd6;
    width:100px;
    display:inline-block;
    color:#ffffff;
}
a.linque_editar:visited {
    font: bold 12px/24px arial, helvetica, sans-aerif;
    text-decoration: none;
    text-align:center;
    color:#FFFFFF;
    background-color: #3fbdd6;
    width:100px;
    display:inline-block;
}
a.linque_editar:hover {
    background-color: #3fbdd6;
    color:#226572;
}
/* fim botao editar */

input.botao_salvar {
    background:#3fbdd6;
    color:#ffffff;
    border:2px solid #3fbdd6;
    font: bold 12px/24px arial, helvetica, sans-aerif;
    text-decoration: none;
    cursor: pointer;
    width:100px;
    height:24px;
}