<% form_tag '/relatorios/show', :method => :get do %>
<table width="100%" border="0">
          <tr>
            <td align="center" width="50%">
              <table width="100%" border="0">
              <tr>
                <td width="20%" align="right"> Usuário: </td>
                <td> <%= text_field_tag 'usuario', nil, :size => 30, :maxlength => 50 %> </td>
              </tr>
              <tr>
                <td width="20%" align="right"> </td>
                <td> </td>
              </tr>
              </table>
            </td>
            <td align="center" width="50%">
              <table width="100%" border="0">
              <tr>
                <td width="20%" align="right"> Data de: </td>
                <td> <%= calendar_date_select_tag "data_ini", Time.now.strftime("%d/%m/%Y")+" 00:00", {:buttons => false, :time => true, :size => 15} %> </td>
              </tr>
              <tr>
                <td align="right"> Data até: </td>
                <td> <%= calendar_date_select_tag "data_fim", Time.now.strftime("%d/%m/%Y")+" 23:59", {:buttons => false, :time => true, :size => 15} %> </td>
              </tr>
              </table>
            </td>
          </tr>
        </table>
    <br>
    <%= submit_tag 'Gerar relatório', :class=>"botao_salvar", :style=>"" %>
<% end %>
<!-- fim conteudo -->