<div class=titlewrapper style="width:950px;">
  <div style="width:200px; float:right; color:black; font-size:12px; font-family:serif;">
      Usuário logado, <b>rafael</b> | <a href="/logout" title="Sair"><b>Sair</b></a>
  </div>  
  <h1 class=title><%=image_tag("logo_mini.png")%></h1>  
</div>
<!--
<div class=descriptionwrapper>
    <p class=description><span>Gestão do Trabalho</span></p>
</div>
-->