  <div id=mainarea-wrapper style="width:640px;">
      <div id=centerbar-wrapper>
              <div id=centerbar class="centerbar section"><b>OS em execução</b></div>
      </div>
      <div id=main-wrapper>
          <div id=main class="main section">
              <div id=os_execucao class="widget Blog">
                      <!-- inicio OS em execucao -->
                  <div class="blog-posts hfeed">
                      <h2 class=date-header>Monday, November 2, 2009</h2>
                      <div style="BORDER-BOTTOM: #ddd 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 2px; BORDER-RIGHT: #ccc 2px solid; PADDING-TOP: 10px">
                        <div style="WIDTH: 280px; FLOAT: left">
                          <a href="os123.html"><IMG style="VERTICAL-ALIGN: middle; MARGIN-RIGHT: 5px" src="imaens/arrow_icon.png">Loja da Maria/ OS 1899</a>
                        </div>
                      <div style="WIDTH: 310px; FLOAT: right">
                        <%=image_tag("maintenance_cron_time_icon.jpg", :style=>"VERTICAL-ALIGN: middle; MARGIN-RIGHT: 5px")%>02/11/09 17:25
                      <span class=post-comment-link>
                        <a style="PADDING-LEFT: 25px;" class=comment-link onClick="" href="#comments">parar</a> | editar | concluir
                      </span>
                      </div>
                      <div style="CLEAR: both"></div></div>
                  </div>
                  <div id=blog-pager class=blog-pager></div>
                  <div class=clear></div>
                  <!-- divisao os -->
                  <!-- fim OS em execucao -->
              </div>
          </div>
      </div>
      <div id=bottombar-wrapper></div>
  </div>
  <!-- fim das OS em execucao -->
  
  <div id=sidebar-wrapper>
      <div id=sidebar class="sidebar section">
          <div id=Feed1 class="widget Feed"> <h2>ATIVIDADES</h2>
              <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold">
                <tr>
                  <td height="30" align="center" bgcolor="#EAEAEA">
                    <a href="inc_programacao.html" title="Programação"> PROGRAMAÇÃO </a>
                  </td>
                </tr>
                <tr>
                  <td height="30" align="center" bgcolor="#F5F5F5">ATIVIDADE EXTERNA</td>
                </tr>
                <tr>
                  <td height="30" align="center" bgcolor="#EAEAEA">MAIS...</td>
                </tr>
              </table>
              <div class=clear></div>
              <span class=widget-item-control><span class="item-control blog-admin"></span></span>
          </div>
      </div>
  </div>
  <!-- fim das ATIVIDADES -->